
   <link rel="stylesheet" href="main.css">
   <body>
       <div class="login-container">
           <form method="POST">
               <p>Login</p>
               <a href="#">Enter your email</a>
               <input class="email-input" name="email" type="email" placeholder="example@gmail.com">
               <input class="password-input" name="password" type="password" placeholder="password">
               <button class="fireBase-login"> Login </button>
               <a href="/passChange">forget your password?</a>
            </div>
        </body>
            