* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    animation: bounceIn 0.3s ease;
}

  body {
    background: linear-gradient(to right,#2fa08d, #b6f3c3);
    min-height: 80vh;
    transition: 1s all ease;
  }

  .main-container {
      text-align: center;
  }

  h1 {
      font-weight: 900;
      font-size: 45px;
      margin-top: 4%;
      margin-bottom: 4%;
      color: #dfe1e5;
      letter-spacing: 2px;
      text-transform: uppercase;
  }

  .main-box {
    height: 80vh;
    border-radius: 5px;
    transition: 1s ease-in;

  }

  .input-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
    position: relative;
    margin: auto;
  }

  .input {
    width: 100%;
    text-align: center;
    font-family: arial,sans-serif;
    font-size: 14px;
    color: #222;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    outline: none;

    }

    .btn {
      position: absolute;
      right: 0;
      cursor: pointer;
      font-weight: bold;
      font-size: 2rem;
      height: 44px;
      width: 15%;
      background-color: #b6f3c3;
      color: #000000;
      outline: none;
      border-top-right-radius: 24px;
      border-bottom-right-radius: 24px;
      border: none;
      
      }

      .btn:hover {
        transition: ease 0.2s;
        background-color: #b6f3c3;
        color: #55a366;
      }


    .select {
      margin-top: 1%;
      background: #fff;
      font-weight: bold;
      font-size: large;
      height: 30px;
      background-color:#90cf9e;
      outline: none;
      border-radius: 5px;
      border: none;
      width: 7%;
    }
    .select:hover {
      transition: ease 0.2s;
      background-color: #79da8c;
      color: #ffffff;
      border-top: 4px solid #b6f3c3;
      border-bottom: 4px solid #b6f3c3;
    }


  .input:focus {
    border-bottom: 4px solid #b6f3c3;
    transition: 0.2s ease;
    border-top: 4px solid #b6f3c3;
  }



  .list {
      position: relative;
      text-align: center;
      width: 100%;
      flex-wrap: wrap;
      list-style: none;
      display: flex;
      justify-content: center;
      font-size: 1.5rem;
      transition: ease 0.5s;
    }

  .todo {
    
    flex-wrap: nowrap;
    border-radius: 5px;
    position: relative;
    display: flex;
    text-align: center;
    width: 40%;
    transition: 0.5s;
    box-shadow: 5px 10px 15px #2fa08d;
    padding: 35px;
    margin: 1rem;
    background-color: #b6f3c3;
    border: #afb4b0;
    animation: bounceIn 1s ease;
  } 

  .todo p{
    margin-top: auto;
  } 
  .todo .userText{
    flex: 2;
    margin: 0;
    overflow-x: auto;

  } 
   .complete p:first-child {
    text-decoration: line-through;

  }

  .deleted {
    transition: ease 1s;
    opacity: 0;
    transform: translateX(300vw);
    transform: translateY(25vh);
    display: flex;
    flex-wrap: wrap;
  }

  .toggleBtn {
    position: absolute;
    display: inline;
    left: 0;
    padding: 20px;
    font-size: 1.5rem;
    animation: mymoveBtn 1s ease-in-out; /* change the animation from left to right */
    cursor: pointer;
    font-weight: bold;
    width: 5%;
    background-color: #d5f7dc;
    color: #000000;
    outline: none;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border: none;

  }

  .night-mode button, .sun{
    transition: 1s all;
    position: absolute;
    background-image:linear-gradient(to left, #414345, #232526) ;
    padding: 10px;
    outline: none;
    border: none;
    width: 3.2rem;
    font-size: 1.7rem;
    color: black;
    border-radius: 80px;
    left: 1%;
    border: 1px solid #414345;
  }
  .night-mode button i {
    color: #7e7e80;
    transform: 1s ease all;
    
  }
  .night-mode i:hover {
    color: #ffffff;
  }

  .sun {
    background: white;
  }


  

  .todo button {
    border: none;
    margin: 5px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    }

  
    .date {
      width: 150px;
      align-self: flex-start;
      font-size: 12px;
      flex: 0;
      position: absolute;
      top:0;
      right: 0;
    }


    @keyframes bounceIn {
      0% {
        opacity: 0;
        transform: translateY(-200px) rotate(-20deg)
      }
      100% {
        opacity: 1;
        transform: translateY(-5px) rotate(0deg)
      }
    }

    @keyframes mymove {
      from {
        left: 0px;
        opacity: 1;
      }
      to {
        left: 200px;
        opacity: 0;
      }
    }
    @keyframes mymoveBtn {
      from {
        right: -100px;
        opacity: 0;
      }
      to {
        opacity: 1;

      }
    }
    



    @media only screen and (max-width: 900px) {
      .input-container {
        width: 90%;

      }
      .select {
        width: 30%;
      }
      .todo {
        width: 100%;
      }
      .todo button {
        padding: 15px;

      }
      .toggleBtn {
        font-size: 1.2rem;
        position: absolute;
        left: 0;
        margin-bottom: 3rem;
      }
    }


    @keyframes darkMode {
      0% {
        background-color: red;
      }
      0% {
        background-color: yellow;
      }

      50% {
        background-color: red;

      }
    }